:root{
      --font-size: 20px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
    background-color: #483c32;
    color: #b7c3cd;
    font-family: Helvetica, sans-serif;
    margin: 0;
    overflow-x: hidden;
}

a {
    color: #b7c3cd;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

.header-flex {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    padding: 15px 20px;
    display: inline-block;
}

.logo-link:hover {
    animation: pop 0.5s ease forwards;
}

@keyframes pop {
    0%   { transform: scale(1, 1); }
    60%  { transform: scale(1.4, 0.8); }
    100% { transform: scale(1.2, 1.2); }
}

.logo-svg {
    fill: currentColor;
    width: 35px;
    height: 35px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.header-link {
    display: inline-block;
    font-size: var(--font-size);
    padding: 20px;
}

.text-container {
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.header-text {
    display: block;
    transition: transform 0.3s ease;
}

.header-text.top {
    transform: translateY(0%);
}

.header-text.bot {
    position: absolute;
    top: 0;
    transform: translateY(100%);
}

.header-link:hover .header-text.top {
    transform: translateY(-100%);
}

.header-link:hover .header-text.bot {
    transform: translateY(0%);
}

.title-container {
    padding: 30px;
}

.title {
    font-size: 13vw;
    letter-spacing: -1vw;
}

.title-desc {
    font-size: var(--font-size);
    max-width: 700px;
    margin-top: 3vw;
    margin-left: 2vw;
    line-height: 1.5;
}

.footer {
    width: 100%;
}

.carousel-track {
    width: 100%;
    overflow-x: hidden;
}

.carousel-slides {
    display: flex;
    animation: scroll 10s linear infinite;
}

.email {
    width: 100%;
    display: flex;
    flex-shrink: 0;

    font-size: 7vw;
    font-weight: bold;
    text-decoration: underline;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 900px) {
    .header-flex {
        padding: 0 3vw;
    }
    .title-container{
        padding: 3vw;
    }
}

@media (max-width: 500px) {
    .logo-svg {
        width: 6vw;
        height: 6vw;
    }
    .logo-link {
        padding: 3vw 4vw;
    }
    .header-link {
        font-size: 4vw;
        padding: 4vw 2.5vw;
    }
    .title {
        font-size: 17vw;
    }
    .title-desc {
        font-size: 4vw;
        max-width: 100%;
        margin-top: 5vw;
    }
}

.about-container {
    display: flex;
    align-items: space-between;
    justify-content: center;
}

.profile-picture {
    width: 44vw;
    height: 44vw;
    padding: 3vw;
    object-fit: cover;
}

.about-the-container {
    padding: 3vw 3vw 3vw 0;
}

.social-container {
    display: flex;
    justify-content: end;
    gap: 5vh;
    align-items: center;
    padding: 5vh;
}

.social-svg {
    fill: currentColor;
    width: 15vh;
}

@media (orientation: portrait) or (width < 900px){
    .about-container {
        flex-direction: column;
    }
    .profile-picture {
        width: 88vw;
        height: 88vw;
        padding: 6vw 6vw 0 6vw;
        object-fit: cover;
    }
    .about-the-container {
        padding: 6vw;
    }
    .social-container {
        gap: 5vw;
        padding: 5vw;
    }
    .social-svg {
        width: 10vw;
    }
}