body {
    background-color: #4b3621;
    color: white;
    mix-blend-mode: difference;
}

.title {
    font-family: Helvetica, sans-serif;
    font-size: 13vw;
    letter-spacing: -1vw;
}

.title-desc {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    max-width: 700px;
    margin-top: -5vw;
}

.left {
    text-align: left;
}