h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
    background-color: #483c32;
    color: white;
    mix-blend-mode: difference;
    font-family: Helvetica, sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.header-flex {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    display: flex;
    justify-content: space-between;
}

.header-link {
    font-size: 18px;
    color: white;
    text-decoration: none;
    
    padding: 20px 15px;
}

.title-container {
    padding: 30px 30px;
}

.title {
    font-size: 13vw;
    letter-spacing: -1vw;
}

.title-desc {
    font-size: 18px;
    font-weight: 200;
    max-width: 700px;
    margin-top: 4vw;
    line-height: 1.5;
}

.footer {
    width: 100%;
}

.carousel-track {
    width: 100%;
    overflow-x: hidden;
}

.carousel-slides {
    display: flex;
    animation: scroll 15s linear infinite;
}

.carousel-text {
    width: 100%;
    display: flex;
    flex-shrink: 0;

    font-size: 6vw;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 900px) {
    .header-flex {
        padding: 0 3vw;
    }
    .title-container{
        padding: 3vw 3vw;
    }
}

@media (max-width: 500px) {
    .header-link {
        font-size: 4vw;
        padding: 4vw 2.5vw;
    }
    .title {
        font-size: 17vw;
    }
    .title-desc {
        font-size: 4vw;
        max-width: 100%;
        margin-top: 5vw;
    }
}
